*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
html {
    scroll-behavior: smooth;
}

header{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.list, .nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: black;
}
.list > li >a, .nav-bar > li >a{
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    margin: 5px;

}
.list > li >a:hover, .nav-bar > li >a:hover{
    color: hsl(0, 94%, 66%);
    cursor: pointer;
    transition: 0.7s
}
.nav-bar > li > button{
    background: hsl(0, 94%, 66%);
    box-shadow: 0px 5px 15px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid transparent;
}
.nav-bar > li > button:hover{
    border: 2px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
    background-color: #fff;
    cursor: pointer;
    transition: 0.7s
}
.icon, .nav {
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.cont2{
    align-items: center;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
.cont3{
    /* width: 100%; */
    margin: 20px auto;
}
.Active{
    display: flex;
}


.cont4{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: none;
}
.cont4b{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* display: none; */
}
.design2b{
    background-color: hsl(231, 69%, 60%);
    width: 35%;
    height: 52vh;
    z-index: -1;
    position: absolute;
    left: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    bottom: 0px;
    
}
.cont4b > .b1 > .img-cont{
    margin: 50px 5px 50px 195px;
    width: 60%;
}
.cont4c{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: none;
}
.b1c{
    width: 50%;
}
.img-contc {
    width: 70%;
    margin: 50px 5px 50px 171px;
}
.b2c{
    width: 50%;
}
.design2c{
    background-color: hsl(231, 69%, 60%);
    width: 43%;
    height: 57vh;
    z-index: -1;
    position: absolute;
    left: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    bottom: 0px;
}
.contb2c{
    margin: 18px 96px;
    width: 90%;
}
.cont4c > .b2c > .contb2c > .blue{
    margin-top: 30px;
}
.cont5{
    margin: 40px auto;
    text-align: center;
}
.cont6{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cont7{
    width: 100%;
    text-align: center;
    margin: 60px auto;
}
.cont8{
    display: flex;
    flex-direction: column;
    width: 40%;   
}
.cont9{
    width: 100%;
    background: hsl(231, 69%, 60%);
    margin: 0px auto;
    color: white;
    text-align: center;
}
.cont6 > div{
    width: 20%;
    box-shadow: 0px 5px 15px 0 rgba(241, 241, 243, 0.97);
    justify-content: center;
    align-items: center;

}

.cont6a{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
}
.cont6b{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 50px;
}
.cont6c{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.contr{
    /* border-top: 1px solid hsl(229, 8%, 60%); */
}
.contr, .conts, .contt, .contu{
    display: flex;
    /* margin: auto; */
    justify-content: space-between;
    padding: 20px;
    /* border-bottom: 1px solid hsl(229, 8%, 60%); */
    text-align: left;
}

.a1{
    width: 50%;
    margin: 0px 70px;

}
.a2{
    width: 50%;
    position: relative;
}
.design{
    background-color: hsl(231, 69%, 60%);
    width: 60%;
    height: 40vh;
    z-index: -1;
    position: absolute;
    right: 0px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    bottom: 0px;
}
.first_image{
    z-index: 9;
    width: 100%;
}

.first_h{
    width: 100%;
    font-weight: 500;
    margin-bottom: 10px;
}
.first_p{
    width: 87%;
    font-weight: 400;
    color: hsl(229, 8%, 60%);
    line-height: 1.5;
    margin-bottom: 55px;
}
.button{
    display: inline-flex;
    margin: 10px 0px;
    width: 100%;
    margin: auto;
}
.blue{
    box-shadow: 0px 5px 15px 0 rgba( 31, 38, 135, 0.37 );
    color: white;
    background-color: hsl(231, 69%, 60%);
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
    border: 2px solid transparent;
}
.blue:hover{
    border: 2px solid hsl(231, 69%, 60%);
    background-color: #fff;
    color: hsl(231, 69%, 60%);
    cursor: pointer;
    transition: 0.7s
}

.cont4c > .b2c > .blue{
    margin-top: 35px;
}
.cont4b > .b2 > .blue{
    margin-top: 30px;
}

.white{
    box-shadow: 0px 5px 15px 0 rgba( 31, 38, 135, 0.37 );
    color: black;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
    border: 2px solid transparent;
    margin: 0px 0px 0px 25px;
}
.white:hover{
    border: 2px solid hsl(229, 8%, 60%);
    background-color: #fff;
    color: hsl(229, 8%, 60%);
    cursor: pointer;
    transition: 0.7s
}
.second_h{
    font-weight: 500;
}
.second_p{
    /* width: 50%; */
    font-weight: 400;
    color: hsl(229, 8%, 60%);
    line-height: 1.5;
    width: 40%;
    margin: 15px auto;
}

.list_2{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}
.hrB{
    width: 100%;
    
    
}
.list_2 > li >a{
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    margin: 5px;
    color: black;
    cursor: pointer;
    margin: auto;
}
.toggle.active{
    border-bottom: 2px solid hsl(0, 94%, 66%);
}
.b1{
    width: 50%;
    
}
.b2{
    width: 50%;
    
}
.design2{
    background-color: hsl(231, 69%, 60%);
    width: 30%;
    height: 40vh;
    z-index: -1;
    position: absolute;
    left: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    bottom: 0px;
}
.img-cont {
    
    margin: 50px 70px;
}
.second_image{
    width: 100%;
}
.third_p{
    width: 70%;
    color: hsl(229, 8%, 60%);
    line-height: 1.5;
    margin-top: 10px;
    /* margin: auto; */
}
body > main > div.cont4 > div.b2 > button {
    margin-top: 30px;
}
.fourth_p{
    width: 60%;
    margin: auto;
    color: hsl(229, 8%, 60%);
}
.browser{
   
    margin: 60px auto;
   
}
.but2{
    box-shadow: 0px 5px 15px 0 rgba( 31, 38, 135, 0.37 );
    color: white;
    background-color: hsl(231, 69%, 60%);
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    border: 2px solid transparent;
    width: 90%;
    margin: 20px auto;
}
.but2:hover{
    border: 2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
    background-color: #fff;
    transition: 0.7s;
    cursor: pointer;
}
.txt1{
     width: 100%;
     text-align: center;
}
.fifth_p{
    color: hsl(229, 8%, 60%);
}
.but3{
    border: none;
    background: none;
}
.newA{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
}
.hr {
    margin-top: 10px;
    border:none;
    border-top:3px dotted hsl(229, 8%, 60%);
    height:1px;
    width:100%;
  }
  .hrA {
    border:none;
    border-top: 0.5px solid hsl(229, 8%, 60%);
  }
.cont8 > .blue {
        box-shadow: 0px 5px 15px 0 rgba( 31, 38, 135, 0.37 );
        color: white;
        background-color: hsl(231, 69%, 60%);
        border-radius: 5px;
        padding: 15px 20px;
        text-align: center;
        border: 2px solid transparent;
        margin: 30px auto;
    }
.cont8 > .blue:hover{
        border: 2px solid hsl(231, 69%, 60%);
        background-color: #fff;
        color: hsl(231, 69%, 60%);
        cursor: pointer;
        transition: 0.7s
    }
.Al{
    margin: 30px auto;
    font-size: 10px;
}
.Nl{
    font-size: 30px;
    margin: 30px auto;
}
.fm1{
    width: 40%;
    margin: 30px auto;
}



.email{
    
    width: 100%;
    padding: 15px 20px;
    border-top-left-radius: 5px;
    border: none;
    border-top-right-radius: 5px;
    border: 0px solid transparent;
    
    
}
.emailCR{
    width: 100%;
    padding: 15px 20px;
    border-top-left-radius: 5px;
    border: none;
    border-top-right-radius: 5px;
    outline-style: solid;
    outline-color: green;
    outline-width: 3px;
}

.emailWR{
    width: 100%;
    padding: 15px 20px;
    border-top-left-radius: 5px;
    border: none;
    border-top-right-radius: 5px;
    outline-style: solid;
    outline-color: hsl(0, 94%, 66%);
    outline-width: 3px;
}
.icon-arrow{
    position: absolute;
    right: 0px;
    top: 32%;
    display: none;
    text-align: left;
}
.inp{
    display: flex;
    width: 100%;
    margin: 55px auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.fm1 > .inp > .but{
    background: hsl(0, 94%, 66%);
    border-radius: 5px;
    color: white;
    padding: 13px 30px;
    text-align: center;
    border: 2px solid transparent;
    
}

.contua{
    position: relative;
    width: 60%;
   
}

.but:hover{
    background-color: #fff;
    border: 2px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
    transition: 0.7s;
    cursor: pointer;
}
footer{
    display: flex;
    background-color: hsl(229, 31%, 21%);
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin: auto;
}
.foot1{
    display: flex;
}
.lista{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
   

}
.lista > li > a{
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    margin: 5px;
    color: #fff;
}
.lista > li >a:hover{
    color: hsl(0, 94%, 66%);
    cursor: pointer;
    transition: 0.7s
}
.foot2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot2 > .foot2b{
    margin-left: 20px;
}

.foot1a{
    margin: auto;
}
.container :hover{
    color:hsl(0, 94%, 66%);
    transition: 0.7s;
    cursor: pointer;
}
.fb{
    color: #fff;
}
.fb:hover{
    color: hsl(0, 94%, 66%);
    transition: 0.7s;
    cursor: pointer;
}
.tw{
    color: #fff;
}
.tw:hover{
    color: hsl(0, 94%, 66%);
    transition: 0.7s;
    cursor: pointer;
}
.container.active .newA{
    width: 90%;
    margin: auto;
    max-height: 110px;
    transition: 0.7s;
}

.container.active .but3{
    transform: rotate(180deg);
}

.content {
    display: none;
}

.content.active {
    display: flex;
}
.error{
    display: none;
    position: absolute;
    width: 100%;
    /* right: 0;
    left: 0; */
    /* transform: translate(74%, 0); */
    /* margin: -2px 111px 20px 109px; */
    background-color: hsl(0, 94%, 66%);
    /* border: 4px solid hsl(0, 94%, 66%); */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    font-size: 14px;
}
.error1{
    display: none;
    position: absolute;
    width: 100%;
    background-color: green;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
}
.icon{
    display: none;
}

.icon > i {
    font-size: 20px;
    color: hsl(229, 8%, 60%);
    cursor: pointer;
}
.fbi {
    display: none;
} 
.twit {
    display: none;
}
.hrC{
    display: none;
    width: 100%;
}
.nav-header{
    display: none;
}
header > .nav > .ul > .list > .laka{
    display: none;
}
.hlogo{
    display: none;
}
.socio{
    display: none;
}
.feat2{
    display: none;
}


@media screen and (max-width: 940px){
    .design, .design2{
        height: 25vh;
    }
    .third_p{
        width: 85%;
    }
    .second_p{
        width: 50%;
    }
    .cont8{
        width: 47%;
    }
    .but2{
        padding: 10px 8px;
    }
    .fm1{
        width: 45%;
    }

@media screen and (max-width: 906px){
    .but2{
        padding: 10px 4px;
    }
}

@media screen and (max-width: 865px){
    .cont6 > div {
        width: 23%;
    }
}

@media screen and (max-width: 835px){
    .design, .design2{
        height: 20vh;
    }
    .third_p{
        width: 90%;
    }
    .second_p{
        width: 65%;
    }
    .cont8{
        width: 55%;
    }
    
}

@media screen and (max-width: 800px){
    .contua{
        width: 75%;
    }
}

@media screen and (max-width: 782px){
    .a1{
        margin: auto 55px;
    }
    header{
        width: 95%;
    }
    .third_p{
        width: 92%;
    }
}


@media screen and (max-width: 751px){
    .a1{
        margin: auto 48px;
    }
    header{
        width: 95%;
    }
    .cont6 > div {
        width: 25%;
    }
    .third_p{
        width: 95%;
    }
}

@media screen and (max-width: 739px){
    .a1{
        margin: auto 45px;
    }
    header{
        width: 97%;
    }
    .cont6 > div {
        width: 27%;
    }
    .blue{
        padding: 15px 14px;
    }
    .white{
        padding: 15px 14px;
    }
    .fm1{
        width: 50%;
    }
}


@media screen and (max-width: 682px){
    header{
        position: relative;
    }
    .nav, .nav-bar{
        display: none;
        
    }
    .icon{
        display: block;
    }
    .icon > .fa-xmark{
        color: white;
    }
    
    .list{
        flex-direction: column;
        position: absolute;
        left: 1%;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 99;
        background: hsl(229, 31%, 21%);
        opacity: 0.9;
        color: #fff;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 2px );
        border-radius: 10px;
        border: 1px solid hsl(229, 8%, 60%);
        
    }
    .hlogo{
        display: block;
        position: absolute;
        top: 8px;
        left: 3px;
    }

    .fa-xmark{
        font-size: 20px;
        position: absolute;
        top: 8px;
        right: 10px;
    }
    .nav > .list > .social{
        display: block;
    }
    .list > li > button{
        background: transparent;
        box-shadow: 0px 5px 15px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        border-radius: 10px;
        border: 2px solid white;
        color: white;
        border-radius: 5px;
        padding: 10px 85px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border: 2px solid transparent;
    }

    .list > li > button:hover{
        border: 2px solid white;
        color: #fff;
        background-color: transparent;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.7s
    }

    .active{
        display: block;
    }
    footer, .foot1, .cont1, .cont3, .cont4, .cont4b, .cont4c, .cont6
    {
    flex-direction: column;
    }
    body > main > div.cont3 > ul{
        flex-direction: column;
    }
    .lista{
        flex-direction: column;
    }
    .cont1{
        flex-direction: column-reverse;
        width: 100%;
    }
    .a1{
        width: 100%;
        margin: 30px auto;
        text-align: center;
    }
   .a2{
        width: 100%;
        margin: 10px auto;
   }
   .first_p{
        margin: 10px auto;
   }
   .button{
        width: auto;
        margin: 10px auto;
   }
   .hrC{
        display: block;
   }
   .second_p, .third_p, .fourth_p{
        width: 90%;
        margin: 10px auto;
   }
   .list_2 > li >a{
        padding: 12px 70px;
    }
    .b1, .b1c{
        position: relative;
        width: 100%;
    }
    .b1 > .design2 {
        width: 60%;
        height: 40vh;
        left: 0px;
    }
    .img-cont{
        width: 91%;
        margin: 50px 25px;
    }
    .second_image{
        width: 100%;
    }
    .img-contc{
        width: 85%;
        margin: auto;
    }
    .b2, .b2c{
        width: 100%;
        text-align: center;
        margin: 30px auto;
    }
    .contb2c{
        margin: 18px auto;
    }
    .cont4b > .b1 > .img-cont{
        width: 100%;
        margin: 50px 25px;
    }
    .design2b{
        width: 70%;
    }
    .design{
        height: 50vh;
    }
    .design2c{
        height: 46vh;
        width: 74%;
    }
    .cont6 > div{
        width: 90%;
    }
    .cont8{
        width: 90%;
    }
    .nav-header{
        display: block;
        width: 100%;
        
    }
    
    .fbi{
        display: block;
    }
    .twit{
        display: block;
    }
    .socio{
        display: flex;
        position: absolute;
        justify-content: space-between;
        top: 450px;
        width: 20%;
    }
    .feat2{
        display: block;
        width: 90%;
        margin: auto;
    }

    .feat2 > li{
        margin: 10px auto;
        text-align: center;
    }
    .feat2 > li > button{
        width: 100%;
        padding: 10px 0px;
        background-color: transparent;
        color:#fff;
        border: 1px solid #fff;
    }
}

@media screen and (max-width: 645px) {
    .fm1{
        width: 60%;
    }
}

@media screen and (max-width: 540px) {
    .fm1{
        width: 70%;
    }
    
}


@media screen and (max-width: 457px) {
    .fm1{
        width: 80%;
    }
}
@media screen and (max-width: 400px) {
    
    .fm1{
        width: 90%;
    }
    .cont8 > .blue{
        padding: 15px 18px;
    }
}
@media screen and (max-width: 354px) {
    .fm1{
        width: 98%;
    }
    .inp{
        gap: 0.5rem;
    }
}





